#bgcontainer {
    background-color: black;
    width: 100%;
    
}

#img1 {
    
    opacity: 0.92;
    position: absolute;
    bottom:1%;
    
    left:0;
    
}

#img2 {

    opacity: 0.92;
    position: absolute;
    top:3%;
    right:0;
    animation: tv 5s infinite;
    animation-timing-function: ease-in-out;
    
   
}

@keyframes tv {
	0% {
		
		transform: translateY(0px);
	}
	50% {
		
		transform: translateY(-25px);
	}
	100% {
		
		transform: translateY(0px);
	}
}

#img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px 25px;
    background-size: cover;
}

